.actionRow {
  composes: actionRow from "./admin.module.css";
}

.adminContent {
  composes: adminContent from "./admin.module.css";
}

.adminLayout {
  composes: adminLayout from "./admin.module.css";
}

.adminSidebar {
  composes: adminSidebar from "./admin.module.css";
}

.applyCta {
  composes: applyCta from "./admin.module.css";
}

.applyRow {
  composes: applyRow from "./admin.module.css";
}

.bottomGrid {
  composes: bottomGrid from "./admin.module.css";
}

.card {
  composes: card from "./admin.module.css";
}

.cardGrid {
  composes: cardGrid from "./admin.module.css";
}

.cardHeader {
  composes: cardHeader from "./admin.module.css";
}

.checkboxGrid {
  composes: checkboxGrid from "./admin.module.css";
}

.checkboxItem {
  composes: checkboxItem from "./admin.module.css";
}

.controls {
  composes: controls from "./admin.module.css";
}

.dashboard {
  composes: dashboard from "./admin.module.css";
}

.feedCard {
  composes: feedCard from "./admin.module.css";
}

.formBlock {
  composes: formBlock from "./admin.module.css";
}

.formError {
  composes: formError from "./admin.module.css";
}

.formStack {
  composes: formStack from "./admin.module.css";
}

.iconButton {
  composes: iconButton from "./admin.module.css";
}

.input {
  composes: input from "./admin.module.css";
}

.kpiCard {
  composes: kpiCard from "./admin.module.css";
}

.kpiGrid {
  composes: kpiGrid from "./admin.module.css";
}

.kpiLabel {
  composes: kpiLabel from "./admin.module.css";
}

.kpiValue {
  composes: kpiValue from "./admin.module.css";
}

.label {
  composes: label from "./admin.module.css";
}

.list {
  composes: list from "./admin.module.css";
}

.mainColumn {
  composes: mainColumn from "./admin.module.css";
}

.mainGrid {
  composes: mainGrid from "./admin.module.css";
}

.memberBadge {
  composes: memberBadge from "./admin.module.css";
}

.memberRow {
  composes: memberRow from "./admin.module.css";
}

.modal {
  composes: modal from "./admin.module.css";
}

.modalBody {
  composes: modalBody from "./admin.module.css";
}

.modalFooter {
  composes: modalFooter from "./admin.module.css";
}

.modalHeader {
  composes: modalHeader from "./admin.module.css";
}

.modalOverlay {
  composes: modalOverlay from "./admin.module.css";
}

.muted {
  composes: muted from "./admin.module.css";
}

.pill {
  composes: pill from "./admin.module.css";
}

.portfolioCard {
  composes: portfolioCard from "./admin.module.css";
}

.portfolioGrid {
  composes: portfolioGrid from "./admin.module.css";
}

.primaryButton {
  composes: primaryButton from "./admin.module.css";
}

.progressBar {
  composes: progressBar from "./admin.module.css";
}

.progressBody {
  composes: progressBody from "./admin.module.css";
}

.progressCard {
  composes: progressCard from "./admin.module.css";
}

.progressFooter {
  composes: progressFooter from "./admin.module.css";
}

.progressHeader {
  composes: progressHeader from "./admin.module.css";
}

.progressList {
  composes: progressList from "./admin.module.css";
}

.progressRow {
  composes: progressRow from "./admin.module.css";
}

.projectMeta {
  composes: projectMeta from "./admin.module.css";
}

.projectTitle {
  composes: projectTitle from "./admin.module.css";
}

.riskBadge {
  composes: riskBadge from "./admin.module.css";
}

.searchRow {
  composes: searchRow from "./admin.module.css";
}

.secondaryButton {
  composes: secondaryButton from "./admin.module.css";
}

.sectionHeader {
  composes: sectionHeader from "./admin.module.css";
}

.sectionSubtitle {
  composes: sectionSubtitle from "./admin.module.css";
}

.sectionTitle {
  composes: sectionTitle from "./admin.module.css";
}

.select {
  composes: select from "./admin.module.css";
}

.sideCard {
  composes: sideCard from "./admin.module.css";
}

.sideColumn {
  composes: sideColumn from "./admin.module.css";
}

.sidebarActive {
  composes: sidebarActive from "./admin.module.css";
}

.sidebarButton {
  composes: sidebarButton from "./admin.module.css";
}

.tabActive {
  composes: tabActive from "./admin.module.css";
}

.tabButton {
  composes: tabButton from "./admin.module.css";
}

.tabRow {
  composes: tabRow from "./admin.module.css";
}

.table {
  composes: table from "./admin.module.css";
}

.tag {
  composes: tag from "./admin.module.css";
}

.tagItem {
  composes: tagItem from "./admin.module.css";
}

.tagList {
  composes: tagList from "./admin.module.css";
}

.tagRow {
  composes: tagRow from "./admin.module.css";
}

.textarea {
  composes: textarea from "./admin.module.css";
}

.thumbPreview {
  composes: thumbPreview from "./admin.module.css";
}

.todoBadge {
  composes: todoBadge from "./admin.module.css";
}

.todoDue {
  composes: todoDue from "./admin.module.css";
}

.todoItem {
  composes: todoItem from "./admin.module.css";
}

.upcomingCard {
  composes: upcomingCard from "./admin.module.css";
}

.upcomingList {
  composes: upcomingList from "./admin.module.css";
}

.urgentCard {
  composes: urgentCard from "./admin.module.css";
}

.urgentList {
  composes: urgentList from "./admin.module.css";
}

.warnBadge {
  composes: warnBadge from "./admin.module.css";
}
