.badge {
  composes: badge from "../../public.module.css";
}

.card {
  composes: card from "../../public.module.css";
}

.lead {
  composes: lead from "../../public.module.css";
}

.meta {
  composes: meta from "../../public.module.css";
}

.section {
  composes: section from "../../public.module.css";
}
