.card {
  composes: card from "../admin.module.css";
}

.cardGrid {
  composes: cardGrid from "../admin.module.css";
}

.dashboard {
  composes: dashboard from "../admin.module.css";
}

.muted {
  composes: muted from "../admin.module.css";
}

.sectionHeader {
  composes: sectionHeader from "../admin.module.css";
}

.sectionSubtitle {
  composes: sectionSubtitle from "../admin.module.css";
}

.sectionTitle {
  composes: sectionTitle from "../admin.module.css";
}

.table {
  composes: table from "../admin.module.css";
}

.tag {
  composes: tag from "../admin.module.css";
}

.tagRow {
  composes: tagRow from "../admin.module.css";
}
