.buttonRow {
  composes: buttonRow from "../admin.module.css";
}

.card {
  composes: card from "../admin.module.css";
}

.cardGrid {
  composes: cardGrid from "../admin.module.css";
}

.checkboxGrid {
  composes: checkboxGrid from "../admin.module.css";
}

.checkboxItem {
  composes: checkboxItem from "../admin.module.css";
}

.dashboard {
  composes: dashboard from "../admin.module.css";
}

.formStack {
  composes: formStack from "../admin.module.css";
}

.input {
  composes: input from "../admin.module.css";
}

.label {
  composes: label from "../admin.module.css";
}

.muted {
  composes: muted from "../admin.module.css";
}

.primaryButton {
  composes: primaryButton from "../admin.module.css";
}

.searchRow {
  composes: searchRow from "../admin.module.css";
}

.secondaryButton {
  composes: secondaryButton from "../admin.module.css";
}

.sectionHeader {
  composes: sectionHeader from "../admin.module.css";
}

.sectionSubtitle {
  composes: sectionSubtitle from "../admin.module.css";
}

.sectionTitle {
  composes: sectionTitle from "../admin.module.css";
}

.select {
  composes: select from "../admin.module.css";
}

.table {
  composes: table from "../admin.module.css";
}

.tag {
  composes: tag from "../admin.module.css";
}

.tagRow {
  composes: tagRow from "../admin.module.css";
}
