.banner {
  composes: banner from "./references.module.css";
}

.bannerImage {
  composes: bannerImage from "./references.module.css";
}

.bannerOverlay {
  composes: bannerOverlay from "./references.module.css";
}

.bannerSubtitle {
  composes: bannerSubtitle from "./references.module.css";
}

.bannerText {
  composes: bannerText from "./references.module.css";
}

.bannerTitle {
  composes: bannerTitle from "./references.module.css";
}

.emptyState {
  composes: emptyState from "./references.module.css";
}

.filterButton {
  composes: filterButton from "./references.module.css";
}

.filterButtonActive {
  composes: filterButtonActive from "./references.module.css";
}

.filterButtons {
  composes: filterButtons from "./references.module.css";
}

.filterDivider {
  composes: filterDivider from "./references.module.css";
}

.filterInput {
  composes: filterInput from "./references.module.css";
}

.filterRow {
  composes: filterRow from "./references.module.css";
}

.gridBadge {
  composes: gridBadge from "./references.module.css";
}

.gridCard {
  composes: gridCard from "./references.module.css";
}

.gridImage {
  composes: gridImage from "./references.module.css";
}

.gridMedia {
  composes: gridMedia from "./references.module.css";
}

.referenceColumn {
  composes: referenceColumn from "./references.module.css";
}

.referenceGrid {
  composes: referenceGrid from "./references.module.css";
}

.searchButton {
  composes: searchButton from "./references.module.css";
}

.searchField {
  composes: searchField from "./references.module.css";
}

.searchForm {
  composes: searchForm from "./references.module.css";
}

.section {
  composes: section from "./references.module.css";
}
